<% provide(:title, 'Create') %>
<div class="center">
  <h1> Let's create a new user </h1>
  <h2> Please fill in all the fields below to continue</h2>

  <div class="row">
    <div class="span6 offset3">
      <%= render 'shared/error_messages' %>
      <%= form_for(@user) do |f| %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

      <%= f.submit "Create!", class: "btn btn-large btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
