<!DOCTYPE html>
<html>
  <head>
    <title>AdminApp | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <header class= "navbar navbar-fixed-top navbar-inverse">
      <div class= "navbar-inner">
        <div class= "container">
          <%= link_to "Admin Suite", :users , id: "logo" %>
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "Home", :users %></li>
              <li><%= link_to "Create", new_user_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class= "container">
      <%= yield %>
    </div>
  </body>
</html>
